@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap");
*,
::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.desktop {
  display: none;
}
@media (min-width: 961px) {
  .desktop {
    display: block;
  }
}

.mobile {
  display: block;
}
@media (min-width: 961px) {
  .mobile {
    display: none;
  }
}

.main {
  min-height: 100vh;
  overflow-y: hidden;
}
.main .container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 2em;
}
@media (min-width: 961px) {
  .main .container {
    max-width: 1224px;
    padding: 0;
  }
}
@media (min-width: 1540px) {
  .main .container {
    max-width: 1440px;
  }
}
.main .container .navbar {
  position: relative;
  padding: 1.5em 0;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-between;
}
.main .container .navbar a {
  text-decoration: none;
  color: #9e9aa7;
  font-weight: 700;
}
.main .container .navbar a:hover {
  color: #232127;
}
.main .container .navbar ul li {
  display: inline-block;
  margin: 0 1em;
}
.main .container .navbar .left {
  display: inline-flex;
  align-items: center;
}
.main .container .navbar .left .brand {
  font-size: 1.5rem;
  margin-right: 1em;
  color: #232127;
}
.main .container .navbar .right .signup {
  background: #2acfcf;
  color: #fff;
  border-radius: 1rem;
  padding: 0.6em 1.3em;
}
.main .container .navbar .right .signup:hover {
  background-color: #9CE2E2;
}
.main .container .navbar .dropdown {
  position: absolute;
  background-color: #3b3054;
  width: 100%;
  bottom: 0;
  text-align: center;
  border-radius: 0.25rem;
  padding: 1em;
  transform: translateY(100%);
  z-index: 10;
}
@media (min-width: 961px) {
  .main .container .navbar .dropdown {
    display: none !important;
  }
}
.main .container .navbar .dropdown a {
  color: #fff;
}
.main .container .navbar .dropdown li {
  list-style: none;
  display: block;
}
.main .container .navbar .dropdown li + li {
  margin-top: 1em;
}
.main .container .navbar .dropdown ul {
  margin: 1em 0;
}
.main .container .navbar .dropdown hr {
  border: none;
  height: 1px;
  background-color: #9e9aa7;
}
.main .container .navbar .dropdown .signup {
  background-color: #2acfcf;
  display: block;
  border-radius: 1rem;
  padding: 0.5rem 0;
}
.main .container .head {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  transform: translateY(20%);
}
@media (min-width: 961px) {
  .main .container .head {
    text-align: initial;
    transform: translateY(20%);
  }
}
.main .container .head__content {
  width: 100%;
}
.main .container .head__content__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
  color: #232127;
}
.main .container .head__content__text {
  font-weight: 500;
  color: #9e9aa7;
  margin-bottom: 1.3em;
}
.main .container .head .hero {
  width: 100%;
  display: none;
  transform: translateX(20%);
}
.main .container .head .hero img {
  width: 100%;
}
@media (min-width: 961px) {
  .main .container .head .hero {
    display: block;
  }
}

.section {
  background-color: #F0F1F6;
  padding-bottom: 8em;
}
.section .section__container {
  max-width: 375px;
  margin: 0 auto;
}
@media (min-width: 961px) {
  .section .section__container {
    max-width: 1224px;
  }
}
@media (min-width: 1540px) {
  .section .section__container {
    max-width: 1440px;
  }
}
.section .section__container .link-input {
  background: no-repeat url("/img/bg-shorten-desktop.svg");
  background-color: #3b3054;
  background-size: cover;
  border-radius: 0.3em;
  transform: translateY(-50%);
  padding: 2em 1.3em;
}
@media (min-width: 961px) {
  .section .section__container .link-input {
    flex-direction: row;
    padding: 2em 3em;
  }
}
.section .section__container .link-input .form {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}
@media (min-width: 961px) {
  .section .section__container .link-input .form {
    flex-direction: row;
    align-items: center;
  }
}
.section .section__container .link-input .form__input {
  flex: 0 0 100%;
  padding: 1em 1.8em;
  border: none;
  outline: none;
  color: #9e9aa7;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 0.8em;
}
.section .section__container .link-input .form__input::placeholder {
  color: #9e9aa7;
  font-weight: 700;
}
@media (min-width: 961px) {
  .section .section__container .link-input .form__input {
    flex: 0 0 85%;
    margin-bottom: 0;
  }
}
.section .section__container .link-input .form__button {
  flex: 0 0 100%;
  border: none;
  padding: 1em;
  background-color: #2BD1D1;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.section .section__container .link-input .form__button:hover {
  background-color: #9CE2E2;
  cursor: pointer;
}
@media (min-width: 961px) {
  .section .section__container .link-input .form__button {
    flex: 0 0 13%;
    padding: 1em 1.5em;
  }
}
.section .section__container .shortened__links {
  margin-top: -2em;
  margin-bottom: 5em;
}
.section .section__container .shortened__links__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  margin-bottom: 1em;
}
@media (min-width: 961px) {
  .section .section__container .shortened__links__container {
    flex-direction: row;
  }
}
.section .section__container .shortened__links__container .original {
  color: #35323e;
  font-weight: 500;
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
@media (min-width: 961px) {
  .section .section__container .shortened__links__container .original {
    margin-bottom: 0;
    flex: auto;
    text-align: start;
  }
}
.section .section__container .shortened__links__container .short__version {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 961px) {
  .section .section__container .shortened__links__container .short__version {
    flex-direction: row;
    flex: auto;
    width: auto;
  }
}
.section .section__container .shortened__links__container .short__version__link {
  display: block;
  color: #2acfcf;
  font-size: 1rem;
}
.section .section__container .shortened__links__container .short__version .copy {
  background-color: #2acfcf;
  color: #fff;
  border: none;
  padding: 0.5em 1.6em;
  border-radius: 2px;
  font-weight: 700;
  font-size: 0.9rem;
  margin-left: 0;
  display: block;
  width: 100%;
}
@media (min-width: 961px) {
  .section .section__container .shortened__links__container .short__version .copy {
    margin-left: 2em;
    width: auto;
  }
}
.section .section__container .shortened__links__container .short__version .copy:hover {
  background-color: #9CE2E2;
  cursor: pointer;
}
.section .section__container .statistics {
  text-align: center;
  padding-bottom: 4em;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
.section .section__container .statistics__header {
  font-size: 2.3rem;
  color: #3b3054;
  margin-bottom: 0.5em;
  font-weight: 700;
}
.section .section__container .statistics__text {
  color: #9e9aa7;
  font-size: 16px;
  line-height: 1.8em;
}
.section .section__container .section__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2em;
}
@media (min-width: 961px) {
  .section .section__container .section__cards {
    padding: 0;
  }
}
.section .section__container .section__cards .card {
  flex: 0 0 100%;
  background-color: #fff;
  padding: 2em;
  position: relative;
  border-radius: 10px;
  margin: 2em 0;
}
@media (min-width: 901px) {
  .section .section__container .section__cards .card {
    max-width: 30%;
    margin: 0;
  }
}
.section .section__container .section__cards .card__img {
  background-color: #35323e;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.section .section__container .section__cards .card__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 30px;
}
.section .section__container .section__cards .card__text {
  font-size: 0.85rem;
  color: #9e9aa7;
}

.btn {
  background-color: #2acfcf;
  color: #fff;
  border: none;
  padding: 1em 2.5em;
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 0.9rem;
}

.btn:hover {
  background-color: #9CE2E2;
  cursor: pointer;
}

.boost {
  background: no-repeat url("/img/bg-boost-desktop.svg");
  background-color: #3b3054;
  background-size: cover;
}
.boost__container {
  text-align: center;
  padding: 3em 2em;
}
@media (min-width: 961px) {
  .boost__container {
    padding: 3em 0;
  }
}
.boost__container__title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1em;
}

.footer {
  color: #fff;
  background-color: #232127;
  padding: 4em 0;
}
.footer li {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: 0.8rem;
}
.footer a:hover {
  color: #9e9aa7;
}
.footer .container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-width: 961px) {
  .footer .container {
    max-width: 1224px;
  }
}
@media (min-width: 1540px) {
  .footer .container {
    max-width: 1440px;
  }
}
.footer .container .footer__row {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 961px) {
  .footer .container .footer__row {
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
    text-align: start;
  }
}
.footer .container .footer__row h5 {
  font-size: 1rem;
}
.footer .container .footer__row .brand {
  flex: 0 0 25%;
  font-size: 1.3rem;
  margin-bottom: 1em;
}
@media (min-width: 961px) {
  .footer .container .footer__row .brand {
    margin-bottom: 0;
  }
}
.footer .container .footer__row .links {
  display: flex;
  flex: 0 0 40%;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 961px) {
  .footer .container .footer__row .links {
    flex-direction: row;
  }
}
.footer .container .footer__row .links div {
  margin: 1em 0;
}
@media (min-width: 961px) {
  .footer .container .footer__row .links div {
    margin: 0;
  }
}
.footer .container .footer__row .social {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
}
.footer .container .footer__row .social a {
  color: #fff;
  margin: 0 10px;
}
.footer .container .footer__row .social a:hover {
  color: #9e9aa7;
}

.loading {
  text-align: center;
  color: #2acfcf;
  margin-bottom: 4em;
  position: fixed;
  width: 100%;
  top: 50%;
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
